html
  head
    title= title
    link(rel='icon' href='favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    style
      include ./css/index.css
    script(type='text/javascript' src=buttonScript)
    meta(content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no' name='viewport')
  body
    .frontbox
      h3= message
      p= roomInfo
      br
      a.button6(onclick='sendHostRequest()') host
      a.button6(onclick='sendJoinRequest()') join
    .ocean
      .wave
      .wave