html
  head
    title= title
    style
      include ./css/index.css
    script(type='text/javascript' src=buttonScript)
    meta(content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no' name='viewport')
  body
    .frontbox
      h3= message
      p= roomInfo
      br
      a.button6(onclick='sendDisconnectRequest()') disconnect
    .ocean
      .wave
      .wave